name: Add Github Release Tag

on:
  push:
    tags:
      - v*.*.*

jobs:
  release:
    if: github.repository == 'reinerBa/vite-plugin-stopdev'
    runs-on: ubuntu-latest
        
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run test
      - run: npm run build

      - run: npm pack
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
  
      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: mikepenz/action-gh-release@v0.2.0-a03 
        with:
          body: ${{steps.github_release.outputs.changelog}}
          files: dist/**
